<div class="main-content">
  <div class="container-fluid">
    <div class="row center-perfil">
      <div class="col-md-5">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img img-detail" [src]="empresaDetail.img | imgFirebase" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">
              {{ empresaDetail.categoria }}
            </h6>
            <h4 class="card-title">{{ empresaDetail.nombre }}</h4>
            <div class="card-description-t">
							<div [innerHTML] ="empresaDetail.descripcion">

							</div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<app-products-list [productos]="productosEmpresa"></app-products-list>
  </div>
</div>
