.center-perfil {
	justify-content: center;
}

.img-detail {
	width: 150px !important;
	height: 130px !important;
	object-fit: cover;
	background: white;
}

.card-avatar {
	border-radius: 5px !important;
	max-width: 150px !important;
}

.container-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-img .img-preview {
	height: 284px;
	padding: 0.3em;
}

.container-img .img-preview img {
	max-height: 100%;
	max-width: 100%;
}
