.login {
	position: absolute;
	left: 0;
	z-index: 1;
	background: #eeeeee;
	right: 0;
	top: 0;
	bottom: 0;
}

.center-perfil {
	height: 80vh;
}

.center-perfil .col-md-4 {
	margin: auto;
}

label {
	width: 100%;
}

.alert {
	display: flex;
	align-items: center;
}

.alert span {
	margin-right: 10px;
}

.register{
	margin-top: 10px;
	color: #e58301;
	font-weight: bold;
	cursor: pointer;
}

.card-avatar { 
	max-width: 100% !important;
	border-radius: 0px !important;
}