<div class="login">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row center-perfil">
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:void(0)">
                <img
                  src="assets/img/aplication/91780a56-6b90-4a1d-8bf5-28f8a4613c29.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="card-body">
              <!-- formulario -->
              <form #form="ngForm">
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="exampleFormControlInput1"
                    >Correo Elctrónico</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="exampleFormControlInput1"
                    [(ngModel)]="auth.email"
                    required
                  />
                </div>
                <!-- contraseña -->
                <div class="form-group">
                  <label for="exampleFormControlInput1">Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput1"
                    name="password"
                    [(ngModel)]="auth.password"
                    required
                    minlength="4"
                  />
                </div>
              </form>

              <button
                type="submit"
                class="btn btn-info"
                [disabled]="!form.valid"
                (click)="login()"
              >
                Ingresar
              </button>

              <div class="register" routerLink="/auth/action">Regístrate!</div>
            </div>
          </div>
          <div class="alert alert-danger" role="alert" [hidden]="credentials">
            <span class="material-icons">
              warning
            </span>
            Correo o contraseña incorrectos
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
