<nav
  class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
>
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="sidebarToggle()"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLoginService.isLogged.loggin">
          <a
            class="nav-link"
            href="javascript:void(0)"
            routerLink="/auth/login"
          >
            <i class="material-icons">exit_to_app</i>
            <p>
              <span class="d-lg-none d-md-block">Login</span>
            </p>
          </a>
        </li>
        <!-- <li class="nav-item" *ngIf="isLoginService.isLogged.loggin">
          <a
            class="nav-link"
            href="javascript:void(0)"
            routerLink="/auth/login"
          >
            <i class="material-icons">person</i>
            <p>
              <span class="d-lg-none d-md-block">Perfil</span>
            </p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
