<div class="container" *ngIf="isMobileChat()">
  <div class="center">
    <div class="contacts">
      <app-contacts
        [chats]="chats"
        (chatSelect)="chatSelecionado($event)"
      ></app-contacts>
    </div>
    <div class="chat">
      <app-message [header]="header" [messages]="messages" (message)="createMessages($event)"></app-message>
    </div>
  </div>
</div>
