<div class="row">
  <div class="col-md-3" *ngFor="let producto of productos">
    <div class="card card-chart">
      <div class="container-img">
        <div class="img-preview">
          <img [src]="producto.img | imgFirebase" alt="" />
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title title-producto" (click)="redirecDetailProduct(producto)">{{ producto.nombre }}</h4>
        <div class="card-category producto-category">
					<div [innerHTML]="producto.descripcion">

					</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">$ {{ producto.precio | number }}</div>
        <div class="message-new">
          <i class="material-icons" (click)="redirecChatProducto(producto)">mail_outline</i>
        </div>
      </div>
    </div>
  </div>
</div>
