.stats {
	color: #F44336 !important;
	font-size: 19px !important;
	font-weight: bold !important;
}

.producto-category {
	height: 100px;
	overflow: hidden;
}

.title-producto {
	font-weight: bold;
	height: 50px;
	overflow: hidden;
	display: flex;
}

.card-footer {
	position: relative;
}

.card-avatar {
	border-radius: 5px !important;
	max-width: 150px !important;
}

.container-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-img .img-preview {
	height: 284px;
	padding: 0.3em;
}

.container-img .img-preview img {
	max-height: 100%;
	max-width: 100%;
}

.title-producto {
	cursor: pointer;
}

.title-producto:hover {
	color: red;
}

.message-new {
	cursor: pointer;
}