.login {
	position: absolute;
	left: 0;
	z-index: 1;
	background: #eeeeee;
	right: 0;
	top: 0;
	bottom: 0;
}

.center-perfil {
	height: 80vh;
}

.center-perfil .col-md-5 {
	margin: auto;
}

.card-body {
	display: flex;
}

.card-body .section-one {
	width: 50%;
	border: 1px solid #d3d2d2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3em;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 10px 10px 5px -5px rgba(214, 214, 214, 1);
	transition: .3s box-shadow ease-in;
}

.card-body .section-one:hover {
	box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
	transition: .3s box-shadow ease-in;
}

.card-body .section-one i {
	font-size: 80px;
}

.two-asd {
	margin-right: 5px;
}