<div class="login">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row center-perfil">
        <div class="col-md-5">
          <div class="card card-profile">
            <div class="card-body">
              <div class="section-one two-asd" routerLink="/auth/action/user">
                <div>
                  <i class="material-icons">
                    perm_identity
                  </i>
                  <div>
                    Comprador
                  </div>
                </div>
              </div>
              <div class="section-one" routerLink="/auth/action/store">
                <div>
                  <i class="material-icons">
                    shopping_cart
                  </i>
                  <div>
                    Vendedor
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
