<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
				
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <div class="container-img">
                <img [src]="producto.img | imgFirebase" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <!-- nombre -->
                <h4
                  class="card-title title-producto"
                >
                  {{ producto.nombre }}
                </h4>
                <!-- precio -->
                <div class="container-price">
                  <div class="stats">$ {{ producto.precio | number }}</div>
                  <div class="message-new-custon">
                    <i class="material-icons">mail_outline</i>
                  </div>
                </div>
                <!-- descripcion -->
                <div class="card-category producto-category">
                  <div [innerHTML]="producto.descripcion"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img
                class="img img-detail"
                [src]="empresaDetail.img | imgFirebase"
              />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">
              {{ empresaDetail.categoria }}
            </h6>
            <h4 class="card-title">{{ empresaDetail.nombre }}</h4>
            <div class="card-description">
              <div [innerHTML]="empresaDetail.descripcion"></div>
            </div>
          </div>
          <div class="container-botton">
            <a (click)="navigateEmpresa()" class="btn btn-danger btn-round"
              >Visitar tienda</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
