.container-img {
	width: 100%;
	padding: 1em;
}

.container-img img {
	max-width: 100%;
	min-height: 100%;
}

.title-producto {
	font-weight: bold;
}

.stats {
	color: #F44336 !important;
	font-size: 19px !important;
	font-weight: bold !important;
}

.container-price {
	display: flex;
	position: relative;
}

.message-new-custon {
	position: absolute;
	right: 10px;
}

.producto-category {
	font-size: 17px;
}

.producto-category {
	margin-top: 45px;
}

.center-perfil {
	justify-content: center;
}

.img-detail {
	width: 150px !important;
	height: 130px !important;
	object-fit: cover;
	background: white;
}

.card-avatar {
	border-radius: 5px !important;
	max-width: 150px !important;
}

.container-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-img .img-preview {
	height: 284px;
	padding: 0.3em;
}

.container-img .img-preview img {
	max-height: 100%;
	max-width: 100%;
}

.container-botton {
	margin-bottom: 10px;
}

.btn-round {
	color: white !important;
}