<div class="login">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row center-perfil">
        <div class="col-md-5">
          <div class="card card-profile">
            <div class="card-body">
              <form #form="ngForm" autocomplete="off">
                <!-- imagen -->
                <div class="form-group">
                  <img [src]="imgPerfil" alt="" />
                  <label for="file" class="file"> <span>Cargar</span> </label>
                  <input
                    type="file"
                    name="file"
                    id="file"
                    #file
                    (change)="viewImgTemp($event)"
                    required
                    accept="image/*"
                  />
                </div>
                <!-- nombre -->
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input
                    type="email"
                    class="form-control"
                    name="nombre"
                    id="nombre"
                    [(ngModel)]="empresa.nombre"
                    required
                  />
                </div>
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="precio">Precio</label>
                  <input
                    type="number"
                    class="form-control"
                    name="precio"
                    id="precio"
                    [(ngModel)]="empresa.precio"
                    required
                  />
                </div>
                <!-- descripcion -->
                <div class="form-group">
                  <label for="descripcion">Descripción</label>
                  <quill-editor
                    [modules]="modules"
                    [styles]="{ 'min-height': '150px' }"
                    placeholder="Describe tu producto"
                    [(ngModel)]="empresa.descripcion"
                    name="descripcion"
                    id="descripcion"
                  ></quill-editor>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-warning"
                    [disabled]="!form.valid"
                    (click)="saveData()"
                  >
                    Guardar producto
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast [baseZIndex]="99999999"></p-toast>
