@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');

$text-1: #333;
$text-2: #666;
$text-3: #999;
$line: #CCC;
$time-bg: #EEE;
$background: #F7F7F7;


.contacts {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-23rem, -50%);

	width: 24rem;
	height: 32rem;
}


.center {
	position: absolute;
	top: 50%;
	left: calc(50% + 7rem);
	transform: translate(-50%, -50%);
}



.chat {
	width: 24rem;
	height: 38rem;
	z-index: 2;
}


.container {
	width: 100%;
	height: 100vh;
}