<div class="chat">
  <div class="contact bar">
    <div class="pic">{{ header.title ? header.title[0] : header.title }}</div>
    <div class="name">
      {{ header.title }}
    </div>
    <div class="seen">
      {{ header.subTitle }}
    </div>
  </div>
  <div class="messages" id="chat">
    <div class="message {{ message | message }}" *ngFor="let message of messages">
      {{ message.message }}
    </div>
    <!-- <div class="message stark">
      Kid, where'd you come from?
    </div>
    <div class="message parker">
      Field trip! 🤣
    </div>
    <div class="message parker">
      Uh, what is this guy's problem, Mr. Stark? 🤔
    </div>
    <div class="message stark">
      Uh, he's from space, he came here to steal a necklace from a wizard.
    </div>
    <div class="message stark">
      Uh, he's from space, he came here to steal a necklace from a wizard.
    </div>
    <div class="message stark">
      Uh, he's from space, he came here to steal a necklace from a wizard.
    </div>
    <div class="message parker">
      Uh, he's from space, he came here to steal a necklace from a wizard.
    </div> -->

    <!-- <div class="message stark">
      <div class="typing typing-1"></div>
      <div class="typing typing-2"></div>
      <div class="typing typing-3"></div>
    </div> -->
  </div>
  <div class="input" *ngIf="header.title">
    <input
      placeholder="¡Escribe tu mensaje aquí!"
      type="text"
      [(ngModel)]="string"
    />
    <i class="fas material-icons" (click)="sendMessage()">send</i>
  </div>
</div>
