@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');

$text-1: #333;
$text-2: #666;
$text-3: #999;
$line: #CCC;
$time-bg: #EEE;
$background: #F7F7F7;


.contacts {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 100%;
}



.chat {
	width: 24rem;
	height: 38rem;
	z-index: 2;
}


.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}