<div class="container">
  <div class="center">
    <div class="chat">
      <app-message
				[header]="header"
				[messages]="messages"
        (message)="createMessages($event)"
      ></app-message>
    </div>
  </div>
</div>
