$text-1: #333;
$text-2: #666;
$text-3: #999;
$line: #CCC;
$time-bg: #EEE;
$background: #F7F7F7;


.contact {
	position: relative;
	margin-bottom: 1rem;
	padding-left: 5rem;
	height: 4.5rem;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.pic {
		position: absolute;
		left: 0;
	}

	.name {
		font-weight: 500;
		margin-bottom: 0.125rem;
	}

	.message,
	.seen {
		font-size: 0.9rem;
		color: $text-3;
	}

	.badge {
		box-sizing: border-box;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		text-align: center;
		font-size: 0.9rem;
		padding-top: 0.125rem;
		border-radius: 1rem;

		top: 0;
		left: 2.5rem;
		background: $text-1;
		color: white;
	}
}


.contacts-body {
	width: 100%;
	height: 100%;
	padding: 1rem 2rem 1rem 1rem;
	box-sizing: border-box;
	border-radius: 1rem 0 0 1rem;

	cursor: pointer;

	background: white;
	box-shadow:
		0 0 8rem 0 rgba(black, 0.1),
		2rem 2rem 4rem -3rem rgba(black, 0.5);

	transition: transform 500ms;

	h2 {
		margin: 0.5rem 0 1.5rem 5rem;
	}

	.material-icons {
		position: absolute;
		left: 2.25rem;

		color: $text-3;
		transition: color 200ms;
		font-size: 41px;
		top: 31px;

		&:hover {
			color: $text-2;
		}
	}

	.contact:last-child {
		margin: 0;
	}
}

.pic {
	width: 4rem;
	height: 4rem;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	background: #00968870;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

