<div class="contacts-body">
  <i class="material-icons">
    mail_outline
  </i>
  <h2>
    Chats
  </h2>
  <p-scrollPanel [style]="{ width: '100%', height: '85%' }">
    <div class="contact" *ngFor="let chat of chats" (click)="emitChat(chat)">
      <div class="pic rogers">{{ chat.title ? chat.title[0] : "" }}</div>
      <div class="name">
        {{ chat.title }}
      </div>
      <div class="message">
        {{ chat.subTitle }}
      </div>
    </div>
  </p-scrollPanel>
</div>
