<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        Creative Tim
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item" *ngIf="!isLoginService.isLogged.loggin">
            <a class="nav-link" href="javascript:void(0)" routerLink="/auth/login">
                <i class="material-icons">exit_to_app</i>
                <p>
                    <span class="d-lg-none d-md-block">Loggin</span>
                </p>
            </a>
				</li>
				<!-- <li class="nav-item" *ngIf="isLoginService.isLogged.loggin">
					<a class="nav-link" href="javascript:void(0)" routerLink="/auth/login">
							<i class="material-icons">person</i>
							<p>
									<span class="d-lg-none d-md-block">Perfil</span>
							</p>
					</a>
			</li> -->
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
