.card-icon-img {
	border-radius: 3px;
	background-color: white;
	margin-top: -20px;
	margin-right: 15px;
	float: left;
	padding: 0.3em;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.19), 0 7px 10px -5px rgba(21, 21, 21, 0.44);
}

.card-icon-img img {
	width: 100px;
	height: 100px;
	background: white;
	object-fit: cover;
	cursor: pointer;
}

.stats {
	height: 154px;
	display: flex;
	// align-items: center;
	max-height: 154px;
	overflow: hidden;
	font-size: 16px !important;
}

.card-title {
	height: 70px !important;
	max-height: 70px !important;
	overflow: hidden;
}

.card-title span {
	cursor: pointer;
}