<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let empresa of empresas">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon-img">
              <img
                [src]="empresa.img | imgFirebase"
                alt=""
                (click)="navigateDetail(empresa)"
              />
            </div>
            <p class="card-category">{{ empresa.categoria }}</p>
            <h3 class="card-title">
              <span (click)="navigateDetail(empresa)">
                {{ empresa.nombre }}
              </span>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <div [innerHTML]="empresa.descripcion"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
