<div class="login">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row center-perfil">
        <div class="col-md-5">
          <div class="card card-profile">
            <div class="card-body">
              <form #form="ngForm" autocomplete="off">
                <!-- imagen -->
                <div class="form-group">
                  <img [src]="imgPerfil" alt="" />
                  <label for="file" class="file"> <span>Cargar</span> </label>
                  <input
                    type="file"
                    name="file"
                    id="file"
                    #file
                    (change)="viewImgTemp($event)"
										required
										accept="image/*"
                  />
                </div>
                <!-- nombre -->
                <div class="form-group">
                  <label for="nombre">Nombre de la empresa</label>
                  <input
                    type="email"
                    class="form-control"
                    name="nombre"
                    id="nombre"
                    [(ngModel)]="empresa.nombre"
                    required
                  />
                </div>
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="email">Correo elctrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    [(ngModel)]="empresa.email"
                    required
                  />
                </div>
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="email2">Confirmar correo electrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email2"
                    id="email2"
                    [(ngModel)]="auth.email"
                    (blur)="compareEmail()"
                    required
                  />
                </div>
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="categoria">Categoría</label>
                  <div class="dropdown">
                    <p-dropdown
                      placeholder="Selecione categoría"
                      [style]="{ width: '100%' }"
                      [options]="categorias"
                      id="categoria"
                      [(ngModel)]="empresa.categoria"
                      name="categoria"
                    ></p-dropdown>
                  </div>
                </div>
                <!-- descripcion -->
                <div class="form-group">
                  <label for="descripcion">Descripción</label>
                  <quill-editor
                    [modules]="modules"
                    [styles]="{ 'min-height': '150px' }"
                    placeholder="Describe tu empresa"
                    [(ngModel)]="empresa.descripcion"
                    name="descripcion"
                    id="descripcion"
                  ></quill-editor>
                </div>
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <div class="password-view">
                    <input
                      [type]="inputType"
                      class="form-control"
                      name="password"
                      id="password"
                      [(ngModel)]="auth.password"
                      required
                    />
                    <span class="material-icons" (click)="viewPassword()">
                      remove_red_eye
                    </span>
                  </div>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-warning"
                    [disabled]="!form.valid"
                    (click)="saveData()"
                  >
                    Registrarse
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
