.login {
	position: absolute;
	left: 0;
	z-index: 1;
	background: #eeeeee;
	right: 0;
	top: 0;
	bottom: 0;
}

.center-perfil {
	height: 80vh;
}

.center-perfil .col-md-5 {
	margin: auto;
}

label {
	width: 100%;
	text-align: start;
}

.dropdown button {
	width: 100%;
	background: none;
	border-bottom: 1px solid #d2d2d2;
	border-radius: 0px;
	position: relative;
	text-align: start;
	padding: 0.6em;
}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	position: absolute;
	right: 7px;
	top: 50%;
}

.password-view {
	display: flex;
}

.password-view span {
	border-bottom: 1px solid #d2d2d2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	cursor: pointer;
}

img {
	border: 1px solid #d2d2d2;
	width: 100px;
	height: 100px;
	background: white;
	object-fit: cover;
	cursor: pointer;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.19), 0 7px 10px -5px rgba(21, 21, 21, 0.44);
	border-radius: 3px;
	background-color: white;
}

.file {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.file span {
	padding: 0.5em 2em;
	background: #00bcd4;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}