<div class="login">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row center-perfil">
        <div class="col-md-5">
          <div class="card card-profile">
            <div class="card-body">
              <form #form="ngForm" autocomplete="off">
                <!-- nombre -->
                <div class="form-group">
                  <label for="nombre">Nombres</label>
                  <input
                    type="email"
                    class="form-control"
                    name="nombre"
                    id="nombre"
                    [(ngModel)]="empresa.nombres"
                    required
                  />
                </div>
                <!-- nombre -->
                <div class="form-group">
                  <label for="apellidos">Apellidos</label>
                  <input
                    type="email"
                    class="form-control"
                    name="apellidos"
                    id="apellidos"
                    [(ngModel)]="empresa.apellidos"
                    required
                  />
                </div>
                <!-- ciudad -->
                <div class="form-group">
                  <label for="ciudad">Ciudad</label>
                  <input
                    type="text"
                    class="form-control"
                    name="ciudad"
                    id="ciudad"
                    [(ngModel)]="empresa.ciudad"
                    required
                  />
                </div>
                <!-- direccion -->
                <div class="form-group">
                  <label for="ciudad">Dirección</label>
                  <input
                    type="text"
                    class="form-control"
                    name="direccion"
                    id="direccion"
                    [(ngModel)]="empresa.direccion"
                    required
                  />
                </div>
                <!-- direccion -->
                <div class="form-group">
                  <label for="ciudad">Celular</label>
                  <input
                    type="number"
                    class="form-control"
                    name="celular"
                    id="celular"
                    [(ngModel)]="empresa.celular"
                    required
                  />
                </div>
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="email">Correo elctrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    [(ngModel)]="empresa.email"
                    required
                  />
                </div>
                <!-- correo electronico -->
                <div class="form-group">
                  <label for="email2">Confirmar correo electrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email2"
                    id="email2"
                    [(ngModel)]="auth.email"
                    (blur)="compareEmail()"
                    required
                  />
                </div>

                <!-- correo electronico -->
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <div class="password-view">
                    <input
                      [type]="inputType"
                      class="form-control"
                      name="password"
                      id="password"
                      [(ngModel)]="auth.password"
                      required
                    />
                    <span class="material-icons" (click)="viewPassword()">
                      remove_red_eye
                    </span>
                  </div>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-warning"
                    [disabled]="!form.valid"
                    (click)="saveData()"
                  >
                    Registrarse
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
