<div class="container">
  <div class="center">
    <div class="contacts" *ngIf="step === 1">
      <app-contacts
        [chats]="chats"
        (chatSelect)="chatSelecionado($event)"
      ></app-contacts>
    </div>
    <div class="chat" *ngIf="step === 2">
      <app-message
        [header]="header"
        [messages]="messages"
        (message)="createMessages($event)"
      ></app-message>
    </div>
  </div>
</div>
